<a href="https://colab.research.google.com/github/mariagichomo/Machine-learning-models-for-Twitter-Data/blob/main/Ad_predictor_for_twitter(merging_csv_files_and_balancing_tweets).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [3]:
df1 = pd.read_csv('labeledtweets.csv')
df2 = pd.read_csv('tweets.csv')
df3 = pd.read_csv('tweets2.csv')
df4 = pd.read_csv('tweets1.csv')
df5 = pd.read_csv('tweets3.csv')
df6 = pd.read_csv('tweets4.csv')

In [4]:
combined_df = pd.concat([df1, df2, df3, df4, df5, df6])

In [5]:
combined_df.to_csv('combinedtweets.csv', index=False)

In [6]:
tweets_df = pd.read_csv('combinedtweets.csv')

In [7]:
tweets_df

                                                   Tweet  Intention
0      @DanOjowa When Uhuru Kenyatta appointed Moody ...          0
1      @edutheguru @PolycarpHinga Kwenda huko. Reject...          0
2                      @Nesh_maina I miss Uhuru Kenyatta          0
3      @citizentvkenya This too much I think this reg...          0
4      @OleItumbi @WilliamsRuto @OleItumbi just to le...          0
...                                                  ...        ...
15621  Guys we are back, get 3-5 games and pay just k...          1
15622  Guys we are back, get 3-5 games and pay just k...          1
15623  Guys we are back, get 3-5 games and pay just k...          1
15624  Guys we are back, get 3-5 games and pay just k...          1
15625  Say goodbye to huge power bills. Programmable ...          1

[15626 rows x 2 columns]

In [8]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15626 entries, 0 to 15625
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tweet      15626 non-null  object
 1   Intention  15626 non-null  int64
dtypes: int64(1), object(1)
memory usage: 244.3+ KB

In [9]:
tweets_df['Intention'].value_counts()

1    8588
0    7038
Name: Intention, dtype: int64

In [10]:
tweets_df.duplicated().any()

True

In [11]:
tweet_df = tweets_df.drop_duplicates('Tweet')

In [12]:
tweet_df.duplicated().any()

False

In [13]:
tweet_df['Intention'].value_counts()

0    6765
1    6030
Name: Intention, dtype: int64

In [14]:
import random
import pandas as pd

In [15]:
tweet_df

                                                   Tweet  Intention
0      @DanOjowa When Uhuru Kenyatta appointed Moody ...          0
1      @edutheguru @PolycarpHinga Kwenda huko. Reject...          0
2                      @Nesh_maina I miss Uhuru Kenyatta          0
3      @citizentvkenya This too much I think this reg...          0
4      @OleItumbi @WilliamsRuto @OleItumbi just to le...          0
...                                                  ...        ...
15610  'Black','Maroon','black/white', 'jungle green'...          1
15621  Guys we are back, get 3-5 games and pay just k...          1
15622  Guys we are back, get 3-5 games and pay just k...          1
15623  Guys we are back, get 3-5 games and pay just k...          1
15624  Guys we are back, get 3-5 games and pay just k...          1

[12795 rows x 2 columns]

In [16]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12795 entries, 0 to 15624
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tweet      12795 non-null  object
 1   Intention  12795 non-null  int64
dtypes: int64(1), object(1)
memory usage: 299.9+ KB

In [22]:
# randomly select 800 indices of tweets labeled as 0
indices_to_remove = random.sample(list(tweet_df[tweet_df["Intention"] == 0].index), 745)

In [23]:
# create a new dataset by removing the 800 indices from the original dataframe
balanced_df = tweet_df.drop(indices_to_remove)

In [24]:
# check the new number of tweets for each label
print(balanced_df["Intention"].value_counts())

1    6030
0    6020
Name: Intention, dtype: int64

In [25]:
balanced_df.to_csv("balanced_df.csv", index=False)