In [3]:
import pandas as pd
import numpy as np

In [7]:
tweets_df = pd.read_csv('tweets.csv')

In [8]:
tweets_df

                                                  Tweet  Intention
0     Ligi ya Championship: Msimamo wa jedwali.\n#Ka...          0
1     Inconvenience for the One Who Guaranteed Eve M...          0
2     Ligi ya DStv Premiership: Matokeo ya mechi.\n#...          0
3     Here Are the Names of the Previous US Presiden...          0
4     @TiborPNagyJr Uhuru Kenyatta is probably not p...          0
...                                                 ...        ...
2647  HP ProBook 640\nCore i5 Processor\n4GB Ram\n50...          1
2648  KN95 respiratory mask prevents viruses, bacter...          1
2649  Chelsea boots have emerged as the shoe of choi...          1
2650  Sitting on a 1/4 acre is this 4 bedroomed Hous...          1
2651  Don't go for cheap and poor quality while I ca...          1

[2652 rows x 2 columns]

In [9]:
tweets_df.head()

                                               Tweet  Intention
0  Ligi ya Championship: Msimamo wa jedwali.\n#Ka...          0
1  Inconvenience for the One Who Guaranteed Eve M...          0
2  Ligi ya DStv Premiership: Matokeo ya mechi.\n#...          0
3  Here Are the Names of the Previous US Presiden...          0
4  @TiborPNagyJr Uhuru Kenyatta is probably not p...          0

In [11]:
tweets_df['Intention'].value_counts()

0    2442
1     210
Name: Intention, dtype: int64

In [12]:
!pip install git+https://github.com/laxmimerit/preprocess_kgptalkie.git --upgrade --force-reinstall

Collecting git+https://github.com/laxmimerit/preprocess_kgptalkie.git
  Cloning https://github.com/laxmimerit/preprocess_kgptalkie.git to c:\users\maria gichomo\appdata\local\temp\pip-req-build-1dtbzn5a
  Resolved https://github.com/laxmimerit/preprocess_kgptalkie.git to commit 9ca68d37027af9f6a30d54640347ce3b2e2694b3
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: preprocess-kgptalkie
  Building wheel for preprocess-kgptalkie (setup.py): started
  Building wheel for preprocess-kgptalkie (setup.py): finished with status 'done'
  Created wheel for preprocess-kgptalkie: filename=preprocess_kgptalkie-0.1.3-py3-none-any.whl size=7664 sha256=2a49f26472444d05b649d50b93810b723ce261cef456de34baf8daa516dec2c5
  Stored in directory: C:\Users\Maria Gichomo\AppData\Local\Temp\pip-ephem-wheel-cache-0lnbwfb1\wheels\d1\c3\bb\559fe93e652b51cbc532f17e9693f3b70055f8560cf06c1fb3
Successfully built preprocess-kgptalkie
Installing collected packages: preprocess-kgptalkie
  Attempting uninstall: preprocess-kgptalkie
    Found existing installation: preprocess-kgptalkie 0.1.3
    Uninstalling preprocess-kgptalkie-0.1.3:
      Successfully uninstalled preprocess-kgptalkie-0.1.3
Successfully installed preprocess-kgptalkie-0.1.3

  Running command git clone --filter=blob:none --quiet https://github.com/laxmimerit/preprocess_kgptalkie.git 'C:\Users\Maria Gichomo\AppData\Local\Temp\pip-req-build-1dtbzn5a'

In [13]:
import preprocess_kgptalkie as ps

In [14]:
import re

In [15]:
def get_clean(x):
    x = str(x).lower().replace('\\', '').replace('_', ' ')
    x = ps.cont_exp(x)
    x = ps.remove_emails(x)
    x = ps.remove_urls(x)
    x = ps.remove_html_tags(x)
    x = ps.remove_rt(x)
    x = ps.remove_accented_chars(x)
    x = ps.remove_special_chars(x)
    x = re.sub("(.)\\1{2,}", "\\1", x)
    return x

In [29]:
tweets_df['Tweet'] = tweets_df['Tweet'].apply(lambda x:get_clean(x))

In [30]:
tweets_df

                                                  Tweet  Intention
0     ligi ya championship msimamo wa jedwalikapulam...          0
1     inconvenience for the one who guaranteed eve m...          0
2     ligi ya dstv premiership matokeo ya mechikapul...          0
3     here are the names of the previous us presiden...          0
4     tiborpnagyjr uhuru kenyatta is probably not pa...          0
...                                                 ...        ...
2647  horsepower probook 640core i5 processor4gb ram...          1
2648  kn95 respiratory mask prevents viruses bacteri...          1
2649  chelsea boots have emerged as the shoe of choi...          1
2650  sitting on a 14 acre is this 4 bedroomed house...          1
2651  do not go for cheap and poor quality while i c...          1

[2652 rows x 2 columns]

In [31]:
tweets_df.head()

                                               Tweet  Intention
0  ligi ya championship msimamo wa jedwalikapulam...          0
1  inconvenience for the one who guaranteed eve m...          0
2  ligi ya dstv premiership matokeo ya mechikapul...          0
3  here are the names of the previous us presiden...          0
4  tiborpnagyjr uhuru kenyatta is probably not pa...          0

In [32]:
tweets_df.tail()

                                                  Tweet  Intention
2647  horsepower probook 640core i5 processor4gb ram...          1
2648  kn95 respiratory mask prevents viruses bacteri...          1
2649  chelsea boots have emerged as the shoe of choi...          1
2650  sitting on a 14 acre is this 4 bedroomed house...          1
2651  do not go for cheap and poor quality while i c...          1

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
from sklearn.svm import LinearSVC

In [39]:
from sklearn.metrics import classification_report

In [40]:
tfidf = TfidfVectorizer(max_features = 20000, ngram_range=(1,3), analyzer='char')

In [41]:
X = tfidf.fit_transform(tweets_df['Tweet'])
y = tweets_df['Intention']

In [42]:
X.shape

(2652, 10083)

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)

In [46]:
clf = LinearSVC()

In [47]:
clf.fit(X_train, y_train)

LinearSVC()

In [48]:
y_pred = clf.predict(X_test)

In [49]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99       482
           1       0.92      0.98      0.95        49

    accuracy                           0.99       531
   macro avg       0.96      0.99      0.97       531
weighted avg       0.99      0.99      0.99       531

In [50]:
x = 'Whatsapp me to buy shoes'
x = get_clean(x)
vec = tfidf.transform([x])
clf.predict(vec)

array([1], dtype=int64)

In [51]:
x = 'Today is a good day'
x = get_clean(x)
vec = tfidf.transform([x])
clf.predict(vec)

array([0], dtype=int64)