<a href="https://colab.research.google.com/github/mariagichomo/Machine-learning-models-for-Twitter-Data/blob/main/Twitter_Scrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.5.0.20230113-py3-none-any.whl (69 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.2/69.2 KB 2.5 MB/s eta 0:00:00
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from snscrape) (2022.7.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.5.0.20230113

In [3]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [5]:
query = "like retweet uhuru kenyatta until:2023-01-01 since:2021-01-01"
tweets =[]
limit = 3000

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
  if len(tweets) == limit:
    break
  else:
    tweets.append([tweet.date,tweet.user.username,tweet.rawContent])
df = pd.DataFrame(tweets,columns=['Date','User','Tweet'])
df.to_csv('tweets.csv')

In [6]:
df.head()

,Date,User,Tweet
0,2022-12-28 06:45:20+00:00,solomonkimani_,Who is the kingpin of Mt Kenya region?\n\nA) R...
1,2022-12-25 05:16:10+00:00,karoba_john,Your thoughts please.\nLike for Uhuru Kenyatta...
2,2022-12-23 06:51:57+00:00,kibet_mca,A picture of Nairobi.\nif you think it's the b...
3,2022-12-23 06:49:24+00:00,streetking_ke,This is a picture of Nairobi.\nIf you thinks i...
4,2022-12-23 05:36:22+00:00,kiprotichbkirui,"Who nailed it?\nLike ❤️ for Uhuru Kenyatta, Re..."

In [7]:
df.describe()

<ipython-input-7-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,Date,User,Tweet
count,189,189,189
unique,189,132,187
top,2022-12-28 06:45:20+00:00,streetking_ke,Like❤Raila Odinga \nRetweet 🔁William Ruto \n\n...
freq,1,18,2
first,2021-01-08 08:49:45+00:00,NaN,NaN
last,2022-12-28 06:45:20+00:00,NaN,NaN